*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Spartan, sans-serif;
}
:root{
    --white-text: hsl(0, 0%, 100%);
    
    /* bg means background */
    /* Theme 1 Colors */
    --theme1-main-bg: hsl(222, 26%, 31%);
    --theme1-toggle-keypad-bg: hsl(223, 31%, 20%);
    --theme1-screen-bg: hsl(224, 36%, 15%);
    --theme1-darkblue-key-bg: hsl(225, 21%, 49%);
    --theme1-darkblue-keyshadow: hsl(224, 28%, 35%);
    --theme1-red-key-bg-toggle: hsl(6, 63%, 50%);
    --theme1-darkred-key-shadow: hsl(6, 70%, 34%);
    --theme1-lightgrayorange-key-bg: hsl(30, 25%, 89%);
    --theme1-grayishorange-key-shadow: hsl(28, 16%, 65%);
    --theme1-blue-text: hsl(221, 14%, 31%);
    
    /* Theme 2 Colors */
    --theme2-main-bg: hsl(0, 0%, 90%);
    --theme2-toggle-keypad-bg: hsl(0, 5%, 81%);
    --theme2-screen-bg: hsl(0, 0%, 93%);
    --theme2-cyan-key-bg: hsl(185, 42%, 37%);
    --theme2-cyan-keyshadow: hsl(185, 58%, 25%);
    --theme2-orange-key-bg-toggle: hsl(25, 98%, 40%);
    --theme2-orange-key-shadow: hsl(25, 99%, 27%);
    --theme2-grayishyellow-key-bg: hsl(45, 7%, 89%);
    --theme2-grayishorange-key-shadow: hsl(35, 11%, 61%);
    --theme2-grayishyellow-text: hsl(60, 10%, 19%);

    /* Theme 3 Colors */
    --theme3-main-bg: hsl(268, 75%, 9%);
    --theme3-toggle-keypad-screen-bg: hsl(268, 71%, 12%);
    --theme3-darkviolet-key-bg: hsl(281, 89%, 26%);
    --theme3-darkviolet-keyshadow: hsl(285, 91%, 52%);
    --theme3-cyan-key-bg-toggle: hsl(176, 100%, 44%);
    --theme3-cyan-key-shadow: hsl(177, 92%, 70%);
    --theme3-violet-key-bg: hsl(268, 47%, 21%);
    --theme3-violet-key-shadow: hsl(290, 70%, 36%);
    --theme3-lightyellow-text: hsl(52, 100%, 62%);
    --theme3-darkblue-text: hsl(198, 20%, 13%);

    --font-18: 18px;
    --font-32: 32px;
    --font-14: 14px;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.body-color1{
    background-color: var(--theme1-main-bg);
}
.body-color2{
    background-color: var(--theme2-main-bg);
}
.body-color3{
    background-color: var(--theme3-main-bg);
}
.calc-frame{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* Header Design */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header h4{
    font-size: var(--font-32);
}
.header .right-header{
    display: flex;
    align-items: end;
    gap: 8px;
}
.header .right-header .theme-tag{
    font-size: var(--font-14);
    font-weight: 700;
    margin-bottom: 3px;
}
.header .theme-indication{
    display: flex;
    width: 68px;
    justify-content: space-between;
    padding: 0 8px;    
}
.header .theme-indication p{
    font-size: var(--font-14);
    font-weight: 700;
}
.text-color1{
    color: var(--white-text);
}
.text-color2{
    color: var(--theme2-grayishyellow-text);
}
.text-color3{
    color: var(--theme3-lightyellow-text);
}
/* This theme switching feature is made using the radio checkbox making only one clickable at the same time making me not have the need of using extra js code to make only one theme to be selected at the same time.

seperating their color properties for easy change using classlist in my JS code*/
.header .toggle-switch {
    display: flex;
    gap: 6px;
    border-radius: 16px;
    padding: 4px;
}

/* The theme toogle bg will also be used to change keypad bg color  */
.theme1-toogle-bg{
    background-color: var(--theme1-toggle-keypad-bg);
}
.theme2-toogle-bg{
    background-color: var(--theme2-toggle-keypad-bg);
}
.theme3-toogle-bg{
    background-color: var(--theme3-toggle-keypad-screen-bg);
}

.header .toggle-switch input[type="radio"] {
    display: none;
}
.header .toggle-switch label {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    cursor: pointer;
}
.header .toggle-switch input[type="radio"]:checked + #option-theme1{
    background-color: var(--theme1-red-key-bg-toggle);
}
.header .toggle-switch input[type="radio"]:checked + #option-theme2{
    background-color: var(--theme2-orange-key-bg-toggle);
}
.header .toggle-switch input[type="radio"]:checked + #option-theme3{
    background-color: var(--theme3-cyan-key-bg-toggle);
}

/* Screen  Display Design*/
.display-screen{
    padding: 24px;
    border-radius: 8px;
}
.display-screen-bg1{
    background-color: var(--theme1-screen-bg);
    color: var(--white-text);
}
.display-screen-bg2{
    background-color: var(--theme2-screen-bg);
    color: var(--theme2-grayishyellow-text);
}
.display-screen-bg3{
    background-color: var(--theme3-toggle-keypad-screen-bg);
    color: var(--theme3-lightyellow-text);
}
.display-screen p{
    font-weight: 700;
    font-size: var(--font-32);
    text-align: right;
}
/* Keypad Design */

.kp-bg1{
    background-color: var(--theme1-toggle-keypad-bg);
}
.kp-bg2{
    background-color: var(--theme1-toggle-keypad-bg);
}
.kp-bg2{
    background-color: var(--theme1-toggle-keypad-bg);
}

/* change the bg color and shadow of the keypads */

/* theme 1 with their hover style*/
.t1-key1-bgcolor{
    background-color: var(--theme1-lightgrayorange-key-bg);
    box-shadow: 0 3px 1px var(--theme1-grayishorange-key-shadow);
    color: var(--theme1-blue-text);
}
.t1-key1-bgcolor:hover{
    background-color: var(--white-text);
}
.t1-key2-bgcolor{
    background-color: var(--theme1-darkblue-key-bg);
    box-shadow: 0 3px 1px var(--theme1-darkblue-keyshadow);
    color: var(--white-text);
}
.t1-key2-bgcolor:hover{
    background-color: hsl(225, 20%, 57%);
}
.t1-key3-bgcolor{
    background-color: var(--theme1-red-key-bg-toggle);
    box-shadow: 0 3px 1px var(--theme1-darkred-key-shadow);
    color: var(--white-text);
}
.t1-key3-bgcolor:hover{
    background-color: hsl(6, 58%, 55%);
}

/* theme 2 with their hover style*/
.t2-key1-bgcolor{
    background-color: var(--theme2-grayishyellow-key-bg);
    box-shadow: 0 3px 1px var(--theme2-grayishorange-key-shadow);
    color: var(--theme2-grayishyellow-text);
}
.t2-key1-bgcolor:hover{
    background-color: var(--white-text);
}
.t2-key2-bgcolor{
    background-color: var(--theme2-cyan-key-bg);
    box-shadow: 0 3px 1px var(--theme2-cyan-keyshadow);
    color: var(--white-text);
}
.t2-key2-bgcolor:hover{
    background-color: hsl(185, 37%, 37%);
}
.t2-key3-bgcolor{
    background-color: var(--theme2-orange-key-bg-toggle);
    box-shadow: 0 3px 1px var(--theme2-orange-key-shadow);
    color: var(--white-text);
}
.t2-key3-bgcolor:hover{
    background-color: hsl(25, 74%, 62%);
}

/* theme 3 with their hover style*/
.t3-key1-bgcolor{
    background-color: var(--theme3-violet-key-bg);
    box-shadow: 0 3px 1px var(--theme3-violet-key-shadow);
    color: var(--theme3-lightyellow-text);
}
.t3-key1-bgcolor:hover{
    background-color: hsl(268, 38%, 34%);
}
.t3-key2-bgcolor{
    background-color: var(--theme3-darkviolet-key-bg);
    box-shadow: 0 3px 1px var(--theme3-darkviolet-keyshadow);
    color: var(--white-text);
}
.t3-key2-bgcolor:hover{
    background-color: hsl(281, 72%, 31%);
}
.t3-key3-bgcolor{
    background-color: var(--theme3-cyan-key-bg-toggle);
    box-shadow: 0 3px 1px var(--theme3-cyan-key-shadow);
    color: var(--white-text);
}
.t3-key3-bgcolor:hover{
    background-color: hsl(176, 43%, 60%);
}
.operator-btn:focus-within{
    border: 2px solid black;
}
.keypad{
    display: flex;
    flex-direction: column;
    width: 550px;
    gap: 16px;
    padding: 24px;
    border-radius: 8px;
    font-weight: 700;
    font-size: var(--font-18);
    cursor: pointer;
}
.keypad div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 50px;
    gap: 16px;
}
.row1 div, .row2 div, .row3 div, .row4 div{
    width: 25%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
}
.row5 div{
    width: 50%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
}
.plus-key:focus, .minus-key:focus, .mult-key:focus, .divide-key:focus{
    background-color: var(--white-text);
    color: var(--theme1-red-key-bg-toggle);
}

@media(max-width: 600px){
    .calc-frame{
        width: 90%;
    }
    .header,.display-screen,.keypad{
        width: 100%;
    }
    .keypad div{
        gap: 12px;
    }
}
@media(max-width: 320px){
    :root{
        --font-18: 18px;
        --font-32: 32px;
        --font-14: 14px;
    }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }